*.dashlab.in, dashlab.in {
        tls {
                dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        }

        @hollant host hollant.dashlab.in
        @firefox host firefox.dashlab.in

        handle @hollant {
                reverse_proxy localhost:444
        }

        handle @firefox {
                basic_auth {
                        dashlab "$2a$14$NdstASdOwki2.jH0Y/pxs.PVqfbnx2mdLUFfm87DdFmkI1DlTKAvK"
                }
                
                reverse_proxy localhost:7814
        }

        handle {
                abort
        }
}
